groupName: lego.dns-solver

nameOverride: ''

webhook:
  image:
    repository: ghcr.io/yxwuxuanl/cert-manager-lego-webhook
    tag: ''
  imagePullPolicy: IfNotPresent
  replicas: 1
  affinity: [ ]
  resources: { }
  envs:
    LEGO_DISABLE_CNAME_SUPPORT: 'true'
  nodeSelector: { }
  tolerations: [ ]
  extraArgs: [ ]
  dnsConfig: { }
  

certManager:
  namespace: ''
  serviceAccountName: cert-manager